git+https://github.com/Giphy/giphy-python-client
git+https://github.com/AbhishekSalian/Random-Word-Generator
git+https://github.com/Pycord-Development/pycord
git+https://github.com/Infqq/simpledemotivators
dnspython
PyNaCl
async-timeout
langdetect
gtts
pillow
pytube
feedparser
vk